<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>Attendance Tracking System</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://app.staticsave.com/atsfacereccss/base.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    {% load static %}
    <link rel="icon"href="{% static 'favicon.ico' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <br>
                <img src="https://i.ibb.co/R3knSwW/Picture1.png" alt="Picture2-min" border="0" class="img-fluid" alt="ATS logo" width="47px" height="47px">
                &nbsp; &nbsp; &nbsp; <br>
                <li class="nav-item active">
                    <a href="{% url 'home' %}"><button class="btn_hm"> Home</button></a>
                </li>&nbsp;<br>
                <li class="nav-item">
                    <a href="{% url 'view_attendance' %}"><button class="btn_ft">View Attendance</button></a>
                </li>&nbsp;<br>
                <li class="nav-item">
                    <a  href="{% url 'edit_attendance' %}"><button class="btn_ft">Edit Attendance</button></a>
                </li>&nbsp;<br>
                <li class="nav-item">
                    <a href="{% url 'mark_attendance' %}"><button class="btn_ft"> Take Attendance</button></a>
                </li>&nbsp;<br>
                <li class="nav-item">
                    <a href="{% url 'notification' %}"><button class="btn_ft"> Send Notification</button></a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="{% url 'about_us' %}"><button class="btn_ft"> About Us</button></a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" style="text-decoration: none;"><button class="button-2" role="button"><span class="text">Sign out</span></button></a> 
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}
</body>

</html>