<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notified</title>
    <style>
        .gradient-custom {            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: #F2F2F2;
            }
    </style>
</head>

<body class="gradient-custom">
    {% extends 'base.html' %}
    {% block content %}
    <h1><center>Notification is send</center> </h1>
    {% endblock %}
</body>
</html>