<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Notification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://app.staticsave.com/atsfacereccss/sendnotificatio.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
{% include 'base.html' %}

{% block content %}
<body class="vh-100 gradient-custom">
  
<div class="container">
    <br><br>
    <h2 style="color: rgb(14, 15, 19);" class="text-center">Low Attendance Students List</h2><br><br><br>            
    <table class="table table-dark table-striped table-hover table-responsive table-bordered table-condensed">
      <thead>
        <tr>
          <th>RETID</th>
          <th>Name</th>
          <th>Phone_no</th>
          <th>Email_ID</th>
          <th>DOB</th>
          <th>Subject_1</th>
          <th>Subject_2</th>
          <th>Subject_3</th>
          <th>Subject_4</th>
          <th>Subject_5</th>
        </tr>
      </thead>
      <tbody>
      <!-- jinja2 Technique -->
      {% if d %}  
      {% for i in d %}
        <tr>
          <td>{{i.RETID}}</td>
          <td>{{i.Name}}</td>
          <td>{{i.Phone_no}}</td>
          <td>{{i.Email_ID}}</td>
          <td>{{i.DOB}}</td>
          <td>{{i.Subject_1}}</td>
          <td>{{i.Subject_2}}</td>
          <td>{{i.Subject_3}}</td>
          <td>{{i.Subject_4}}</td>
          <td>{{i.Subject_5}}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div><br>
    <form method="post" action="{% url 'notified' %}">
        {% csrf_token %}
        <button style="color: rgb(255, 255, 255);" type="submit" name="run_mail" class="button-1"><i style="color: rgb(35, 172, 226);" class="fa fa-envelope" aria-hidden="true"></i> Mail</button>
        <button style="color: rgb(255, 255, 255);" type="submit" name="run_whatsapp" class="button-3"><i style="color: rgb(35, 172, 226);" class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</button>
    </form><br>
  </body>

{% endblock %}
</html>